.geral {
  max-height: 1000px;
}

body {
  margin: 0px;
  padding: 0px;
}

.button {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.seta-voltar {
  font-size: 2px;
  width: 50px;
  height: 30px;
  padding: 0px; 
  margin-right: 100px;
  min-width: 200px;
  box-shadow: none;
  background: none;
}

.seta-voltar:hover {
  background: none;
  font-weight: bold;
}

@media (max-width: 1115px) {
  .seta-voltar{
    margin-right: 37px;
  }
}

@media (max-width: 431px) {
  .seta-voltar{
    margin-right: 20px;
  }
}

h1 {
  color:  #03045e;
  margin-bottom: 0px ;
  margin-top: 0px;
  border-bottom: solid 2px white;
  cursor: pointer;
  margin-left: 190px;
}

@media (max-width: 431px) {
  h1{
    margin-left: 30px;
  }
}

h1:hover {
  border-bottom: solid 2px ;
  
}

.container-alfabeto {
  overflow: hidden;
  display: flex;
  max-width: 1000px;
  gap: 60px;
  background: #023e8a;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}



.flex-item {
  flex: 1;
  max-width: 140px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

img {
  height: 70px;
  width: 70px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
}

img:hover {
  transform: rotate(05deg);
  transition: 1s;
  background: #caf0f8;
}

@media (max-width: 431px) {
  img {
    height: 150px;
    width: 150px;
  }
}


section {
  display: flex;
  justify-content: center;
}

span {
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #ffff;
  font-family: sans-serif;
  text-transform: uppercase;
}


