.geral {
  max-height: 1000px;
}

body {
  margin: 0px;
  padding: 0px;
}


.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seta-voltar {
  width: 50px;
  height: 30px;
  padding: 10px; 
  margin-right: 200px;
}

@media (max-width: 431px) {
  .seta-voltar{
    margin-right: 20px;
  }
}

h1 {
  color: #000080;
  margin-bottom: 0px ;
  margin-top: 0px;
  border-bottom: solid 1px white;
  cursor: pointer;
  margin-left: 200px;
}

@media (max-width: 431px) {
  h1{
    margin-left: 30px;
  }
}

h1:hover {
  border-bottom: solid 2px;
}

.container-animais {
  overflow: hidden;
  display: flex;
  max-width: 1000px;
  gap: 40px;
  background: #87CEFA;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}


.flex-item {
  flex: 1;
  max-width: 140px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

img {
  height: 90px;
  width: 90px;
  padding: 20px;
  background: white;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 40px;
}

@media (max-width: 440px) {
  img {
    height: 60px;
    width: 60px;
  }
}

section {
  display: flex;
  justify-content: center;
}

