body {
  margin: 0px;
  padding: 0px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}

.button a {
 color: #000; 
 padding: 10px 20px;
 margin-right: 90px; 
 margin-top: 10px;
 margin-bottom: 10px;
 text-decoration: none;
 background: #ffdab9;
 border-radius: 5px;
}

h1 {
  margin-left: 150px;
  margin-bottom: 0px ;
  margin-top: 0px;
}

@media (max-width: 530px) {
  h1 {
    margin-left: 20px;
  }
}

.container-animais {
  display: flex;
  max-width: 1266px;
  min-width: 360px;
  gap: 50px;
  background: #ffdab9;
  margin: 90px;
  margin-top: 0px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container-animais {
    margin: 10px;
  }
}

.flex-item {
  flex: 1;
  max-width: 140px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}


img {
  height: 100px;
  width: 100px;
  padding: 10px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

img:hover {
  width: 10%;
  height: auto;
  transition:  0.3s;

}




