* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px 10px 0px 10px;
}

main{
  display: none;
}

.ativo{
  display: block;
}

.branco{
  background: #fff;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

li {
  display: block;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
}

.alfabeto, .formas, .numeros, .cores{
  background: #836FFF;
}

.domestico{
  background: #ADFF2F;
}

strong {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

img {
  padding: 10px;
  width: 100px;
}
.section-aprenda{
  margin-bottom: 20px;
}

.section-aprenda ul strong {
  color: #fff;
}

.section-animais{
  border-top: solid 1px #cdcdcd;
}

.section-animais ul strong{
  color: #000;
}

.titulo-aprenda {
  color: #000;
  font-size: 24px;
  margin: 20px;
  margin-left: 44px;
  padding-bottom: 10px;
}

.titulo-animais {
  color: #000;
  font-size: 24px;
  margin: 20px;
  padding-bottom: 10px;
  margin-left: 44px;
}

a {
  text-decoration: none;
}


/*Loading*/

.opaco {
  display: none;
}

body
{
  margin:0;
  padding:0;
  background:#262626;
}
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}
